<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Dashboard - IA Currículos</title>


</head>

<body>


<!-- MENU ICON (3 linhas) -->
<div class="menu-toggle" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- SIDEBAR -->
<div class="sidebar hide" id="sidebar">
    <div class="menu-item active"><span class="menu-icon">⌂</span><span>Página inicial</span></div>
    <div class="menu-item"><span class="menu-icon">🗎</span><span>Meus currículos</span></div>
    <div class="menu-item"><span class="menu-icon">⚙</span><span>Configurações</span></div>
</div>

<!-- MAIN -->
<div class="main">
    <div class="card-container">
        <h1>Serviços</h1>

        <div class="cards">
            
            <div class="card" onclick="irParaChat()">
                <div class="icon">🔎</div>
                <p>Analisar<br>currículo</p>
            </div>

            <div class="card">
                <div class="icon">👤</div>
                <p>Simulação<br>entrevista</p>
            </div>

        </div>

    </div>
</div>



</body>

</body>
<link rel="stylesheet" href="../static/home.css">
<script src="../static/home.js"></script>
</html>
</html>